{% load blog_tags %}
 <div id="drawer-navigation" class="fixed top-16 left-0 z-40 w-72 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-gray-800" tabindex="-1" aria-labelledby="drawer-navigation-label">
     <button type="button" data-drawer-hide="drawer-navigation" aria-controls="drawer-navigation" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 absolute top-2.5 end-2.5 inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
         <svg aria-hidden="true" class="w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
         <span class="sr-only">Close menu</span>
     </button>
   <div class="py-4 overflow-y-auto space-y-2">
    <div>
        <h5 class="text-base font-semibold text-white text-sm mb-1">Latest Posts</h5>
      {% show_latest_posts 3 %}
    </div>

    <div>
        <h5 class="text-base font-semibold text-white text-sm mb-1">Popular Posts</h5>
        {% get_most_commented_posts as most_commented_posts %}
        <ul class="space-y-1">
            {% for post in most_commented_posts  %}
            <li class="text-xs text-gray-300 hover:text-blue-500 hover:underline hover:underline-offset-2 transition duration-250 ms-4">
                <a href="{{ post.get_absolute_url }}">{{post.title | capfirst}}</a>
            </li>
            {% endfor %}
        </ul>

        <h3 class="text-base font-semibold text-white text-xl font-playfair mt-8"><a href="{% url 'blog:post_feed' %}">Subscribe to my RSS feed</a></h3>
    </div>
    </div>
 </div>
 