{% extends "_base.html" %}
{% block content %}

<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-lg">
        {% if comment %}
        <h1 class="text-center text-2xl font-bold text-indigo-600 sm:text-3xl">
          Your comment has been added successfully.
        </h1>
        <button class="bg-blue-500 hover:bg-blue-600 text-white rounded-xl px-4 py-2"><a href="{{post.get_absolute_url}}"> Back to post</a></button>
      {% endif %}
    </div>
  </div>
{% endblock content %}

