{% extends "_base.html" %} 
{% block content %}

<div class="mx-auto container px-4 py-16 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-lg">
    {% if sent %}
    <h1 class="text-center text-2xl font-bold text-indigo-600 sm:text-3xl">
      E-mail successfully sent
    </h1>

    <p class="mx-auto mt-4 max-w-md text-center text-gray-500">
      "{{post.title}}" was successfully sent to "{{form.cleaned_data.to}}".
    </p>

    {% else %}
    <h1 class="text-center text-2xl font-bold text-white sm:text-3xl font-playfair">
      Share <blockquote class="inline-block italic font-semibold">"{{post.title}}"</blockquote> by e-mail
    </h1>
    <form
      method="post"
      class="mb-0 mt-4 space-y-4 rounded-lg p-4 p-6 shadow-xl transition hover:border-blue-500/10 hover:shadow-blue-500/10 sm:p-6 lg:p-8"
    >      
      {% csrf_token %}
      {% for field in form %}
      <div class="relative z-0 w-full mb-5 group">
        <label for={{ field.label }} class="sr-only">{{ field.label }}</label>
        <input  
        type="{{ field.field.widget.input_type }}"
        id="{{ field.id_for_label }}"
        name="{{ field.name }}"
        placeholder=" "
        required
        class="block py-2.5 px-0 w-full text-sm text-gray-300 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer"/>
        <label for={{ field.label }} class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{ field.label }}</label>
    </div>
      {% endfor %}
      <button
        type="submit"
        value="send e-mail"
        class="block w-full rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white"
      >
        Send Email
      </button>

      <p class="text-center text-sm text-gray-400">
        More blogs?
        <a class="underline text-white" href='{% url "blog:home" %}'>Check here</a>
      </p>
    </form>
    {% endif %}
  </div>
</div>
{% endblock content %}
