{% load compress %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eBlog</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

</head>

<body class="bg-gray-900">
    {% comment %} LOAD NAVBAR HERE {% endcomment %}
    {% include 'includes/navbar.html' %}

    {% comment %} LOAD CONTENT HERE {% endcomment %}

    {% block content %}

    {% comment %} CONTENTS GOES HERE {% endcomment %}

    {% endblock  %}



    {% comment %} LOAD FOOTER HERE {% endcomment %}
    {% include 'includes/footer.html' %}
    