{% extends "_base.html" %} 
{% block content %}
{% load blog_tags %}
<section>
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8 lg:py-16">
    <div class="mx-auto max-w-lg text-center">
      <h2
        class="text-3xl font-bold sm:text-4xl font-playfair text-shadow text-white"
      >
        Welcome to eBlog
      </h2>

      <p class="mt-4 font-poppins text-gray-300">
        Explore my tech blog for valuable insights and inspiration. with over {% total_posts %} posts written so far, Share my
        thoughts on the latest tech trends and programming experiences.
      </p>
    </div>
    {% if tag %}
    <p class="mt-8 text-center text-gray-500">
      Showing posts for <span class="text-blue-500">{{ tag }}</span>
    </p>
    {% endif %}

  {% include "blog/posts.html" with posts=posts %}
    <div class="grid place-content-center text-white">
      {% include "includes/pagination.html" with page=posts%}
    </div>
  </div>
</section>
{% endblock content %}
